/* SITEWIDE COLOURS */


.col--yellow {
    color: #d3a226;
}

.col--green {
    color: #05995c;
}

.col--red {
    color: #a82c3e;
}

.col--blue {
    color: #3f46bf;
}

.bgcol--yellow {
    background-color: #d3a226;
}

.bgcol--green {
    background-color: #05995c;
}

.bgcol--red {
    background-color: #a82c3e;
}

.bgcol--blue {
    background-color: #3f46bf;
}



/* CASE STUDY BG COLOURS */

.cs--bgcol--1 {
    /* Shopquest */
    background-color: #ebebeb !important;
}

.cs--bgcol--2 {
    /* Waypoint */
    background-color: #c5ced4 !important;
}

.cs--bgcol--3 {
    /* Campus Workplace Study */
    background-color: #500909 !important;
}

.cs--bgcol--4 {
    /* Design Grad Show */
    background-color: #e3e1e1 !important;
}

.cs--bgcol--5 {
    /* Wake App */
    background-color: #D8DDE0 !important;
}

.cs--bgcol--4 {
    /* Atlantic Watch Co. */
    background-color: #D8DDE0 !important;
}


/* CASE STUDY THUMBNAIL BG IMAGES */

.cs--bgimg--1 {
    /* Shopquest */
    background-image: url("../assets/projects/shopquest/seanreibling_project_shopquest_thumbnail.png") !important;
}

.cs--bgimg--2 {
    /* Wapoint */
    background-image: url("../assets/projects/waypoint/seanreibling_project_waypoint_thumbnail.png") !important;
}

.cs--bgimg--3 {
    /* Campus Workplace Study */
    background-image: url("../assets/projects/campus-workplace-study/seanreibling_project_campus-workplace-study_thumbnail.png") !important;
}

.cs--bgimg--4 {
    /* Design Grad Show */
    background-image: url("../assets/projects/design-grad-show/seanreibling_project_design-grad-show_thumbnail.png") !important;
}

.cs--bgimg--5 {
    /* Wake App */
    background-image: url("../assets/projects/wake/seanreibling_project_wake_thumbnail.png") !important;
}

.cs--bgimg--6 {
    /* Atlantic Watch Co. */
    background-image: url("../assets/projects/atlantic-watch-co/seanreibling_project_atlantic-watch-co_thumbnail.png") !important;
}

