/* SITEWIDE COLOURS */


.col--yellow {
    color: #d3a226;
}

.col--green {
    color: #05995c;
}

.col--red {
    color: #a82c3e;
}

.col--blue {
    color: #3f46bf;
}

.bgcol--yellow {
    background-color: #d3a226;
}

.bgcol--green {
    background-color: #05995c;
}

.bgcol--red {
    background-color: #a82c3e;
}

.bgcol--blue {
    background-color: #3f46bf;
}



/* CASE STUDY BG COLOURS */

.cs--bgcol--1 {
    /* Shopquest */
    background-color: #ebebeb !important;
}

.cs--bgcol--2 {
    /* Waypoint */
    background-color: #c5ced4 !important;
}

.cs--bgcol--3 {
    /* Campus Workplace Study */
    background-color: #500909 !important;
}

.cs--bgcol--4 {
    /* Design Grad Show */
    background-color: #e3e1e1 !important;
}

.cs--bgcol--5 {
    /* Wake App */
    background-color: #D8DDE0 !important;
}

.cs--bgcol--4 {
    /* Atlantic Watch Co. */
    background-color: #D8DDE0 !important;
}

.cs--bgcol--5 {
    /* Atlantic Watch Co. */
    background-color: #D8DDE0 !important;
}

.cs--bgcol--6 {
    /* Atlantic Watch Co. */
    background-color: #D8DDE0 !important;
}

